<?xml version="1.0" encoding="utf-8"?>
<!-- Example configuration file -->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <connectionStrings>
     <add name="MyConnectionString" 
      connectionString="Data Source=(local)\sqlexpress; Initial Catalog=MyDatabase;Integrated Security=true;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="WidgetTcpPort" value="2112" />
  </appSettings>
</configuration>
