<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WidgetTcpPort" value="4224" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=10.0.0.5,1433;Initial Catalog=MyDatabase;user=sa;password=;MultipleActiveResultSets=true"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>
